body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

header {
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

header a {
  display: none;
}

p {
  text-align: center; 
}

p a {
  color: black;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

button {
  background-color: lightgreen;
}

.with-annotations button {
  background-color: pink;
}

/* 
 * On large displays show the ithub banner and adjust the size of the 
 * transcript display.
 */

@media (min-device-width: 600px) {

  header a {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }

  body {
    width: 600px;
  }

  body.with-annotations {
    width: 800px;
  }
}

}
