.item {
  display: flex;
}

.metadata {
  width: 400px;
  margin-left: auto;
  margin-right: 20px;
}

.media {
  width: 400px;
  border: thin solid #ccc;
  margin-right: auto;
}

.controls {
  padding: 5px;
  text-align: center;
  vertical-align: text-top;
  background-color: #ccc;
}

.seekBar {
  vertical-align: middle;
  width: 70%;
}
